<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Request microphone access for speech recognition</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>Request speech recognition access for speech recognition</string>
  <key>NSLocationUsageDescription</key>
  <string>Request location access for weather information</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Request location access for weather information</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>Request location access for weather information</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>Request location access for weather information</string>
</dict>
</plist>