.container {
  width: 100%;
  height: 100%;

  & .sidebar,
  & .content {
    position: relative;
    height: 100dvh;
    overflow: hidden;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  & .sidebar {
    float: left;
    width: var(--sidebar-width);
    background-color: var(--back-sidebar);
    justify-content: flex-start;
  }
  & .content {
    float: right;
    width: calc(100% - var(--sidebar-width));
  }
}

.sidebar-control {
  width: 0!important;
  opacity: 0!important;
}
.content-control {
  width: 100%!important;
}

@media screen and (max-width: 768px) {
  .container .sidebar {
    position: absolute;
    width: 0;
    opacity: 0;
    z-index: 1;
    margin-top: var(--header-height);
  }
  .container .content {
    width: 100%;
  }
  .sidebar-control {
    width: 100%!important;
    opacity: 1!important;
  }
}

a {
  color: var(--text-highlight);
}
button {
  border: none;
  outline: none;
}
* {
  transition: all 0.2s ease;
}
body,
html {
  background-color: var(--back-lighter);
}
@media screen and (max-height: 440px){
  .container {
    display: none;
  }
  html::before {
    content: "设备屏幕高度过小";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #fa255e;
  }
}