:root {
  --prompt-height: 170px;
  --prompt-btn-width: 100%;
  --prompt-btn-gap: 0;

  --header-height: 50px;
  
  --messages-height: calc(100dvh - var(--prompt-height) - var(--header-height));

  --text: #ff7171;
  --text-hover: #ff4f4f;
  --text-highlight: #fa255e;
  --text-dark: #300000;

  --border-textarea: #ff4f4f;
  --back-textarea: #fffafa;

  --back: #fff0f0;
  --back-hover: #ffcece;
  --back-lighter: #fffdfd;

  --scroll-front: #ff7f7f;
  --scroll-back: #fff0f0;

  --assistant-avatar: url('/avatar.jpg');
  --user-avatar: #d0c0ff;
}
.dark {
  --text: #ff6171;
  --text-hover: #ff4f4f;
  --text-highlight: #fa255e;
  --text-dark: #ff6171;

  --border-textarea: #000000;
  --back-textarea: #101010;

  --back: #000000;
  --back-hover: #000000;
  --back-lighter: #151515;

  --scroll-front: #fa3f3f;
  --scroll-back: #000000;

  --assistant-avatar: url('/avatar.jpg');
  --user-avatar: #d0c0ff;
}


@media screen and (max-height: 440px){
  .container {
    display: none;
  }
  html::before {
    content: "设备屏幕高度过小";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #fa255e;
  }
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  color: var(--text-highlight);
}
button {
  border: none;
  outline: none;
}
* {
  transition: all 0.2s ease;
}
