.messages-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--messages-height);
  padding: 0.7rem 8%;
  background-color: var(--back);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-front) var(--scroll-back);

  & .message-assistant,
  & .message-user,
  & .message-loading {
    width: 100%;
    display: flex;
    align-items: normal;
    padding: 0.5rem 1rem;
    & .message-content {
      max-width: calc(100% - 6rem);
      padding: 0.7rem 1rem;
      border-radius: 0.5rem;
      background-color: var(--back-lighter);
      color: var(--text-messages);
      line-height: 1.5;
      /* Markdown 内容 */
      & > * {
        margin-bottom: 0.7rem;
        &:nth-last-child(1) { margin-bottom: 0; }
      }
      & li {
        list-style: unset;
        list-style-position: inside;
        &::marker { display: inline; }
        & p { display: inline; }
      }    
    }
    &::after,
    &::before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-top: 0.5rem;
      background-size: cover;
      background-position: center;
    }
  }
  & .message-assistant::before {
    margin-right: 1rem;
    background-image: var(--assistant-avatar);
  }
  & .message-user {
    justify-content: flex-end;
    &::after { 
      background-color: var(--user-avatar);
      margin-left: 1rem;
    }
  }
  & .message-loading {
    justify-content: center;
  }
}

@media screen and (max-width: 512px) {
  .messages-container {
    padding: 1rem 0;
  }
}