.prompt-container {
  position: relative;
  width: 100%;
  height: var(--prompt-height);
  background-color: var(--back-lighter);
  padding: 20px 10%;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

  & .prompt-textarea {
    width: 100%;
    height: 80px;
    resize: none;
    padding: 10px 15px;
    border: 1px solid var(--border-textarea);
    border-radius: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: var(--text);
    background-color: var(--back-textarea);
    scrollbar-width: none;
    &:focus {
      transform: scale(1.01);
      outline: none;
    }
    &::placeholder {
      font-weight: bold;
      opacity: 0.75;
      color: var(--text);
    }
  }
  & .prompt-clear,
  & .prompt-submit {
    display: inline-block;
    width: calc(50% - 5px);
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: bold;
    color: var(--text);
    background-color: var(--back);
    &:hover {
      transform: scale(1.02);
      background-color: var(--back-hover);
      color: var(--text-hover);
    }
    &:active {
      transform: scale(0.98);
    }
  }
  & .prompt-submit {
    margin-left: 10px;
    &:disabled { cursor: progress; } 
  }
  & .prompt-clear { padding: 0; }
  & .prompt-clear-confirm,
  & .prompt-clear-cancel {
    display: inline-block;
    width: 50%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    font-weight: bold;
    color: var(--text);
    background-color: var(--back);
    &:hover {
      background-color: var(--back-hover);
      color: var(--text-hover);
    }
  }
  & .prompt-clear-cancel {
    border-radius: 0 20px 20px 0;
  }
}
